
name: Label Finder Workflow

on:
  push:
    branches:
      - main

jobs:
  get-pr-info:
    runs-on: ubuntu-latest
    outputs:
      labels: ${{ steps.get_labels.outputs.labels }}
    steps:
      - name: Get commit SHA
        id: get_sha
        run: echo "COMMIT_SHA=${GITHUB_SHA}" >> $GITHUB_ENV

      - name: Get PR number
        id: get_pr
        uses: actions/github-script@v7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          script: |
            console.log(context)
            const {commitHash} = process.env.GITHUB_SHA;
            const { data: pullRequest } = await github.rest.repos.listPullRequestsAssociatedWithCommit({
                owner: context.repo.owner,
                repo: context.repo.repo,
                commit_sha: process.env.GITHUB_SHA
            });
            if (pullRequest.length > 0) {
                const pr = pullRequest[0];
                const backportLabels = pr.labels.filter(label => label.name.startsWith('backport-to-')).map(label => label.name);
                console.log(`PR Number: ${pr.number}`);
                console.log(`Backport Labels: ${backportLabels.join(',')}`);
                return { labels: backportLabels };
            } else {
                console.log('No pull request found for this commit.');
                return { labels: [] };
            }
      - name: env
        run: printenv
        env:
          PR_LABELS: ${{ steps.get_pr.outputs.result }}
