name: Print GitHub Event Payload on PR Close

on:
  push:
    branches:
      - 'main'
      
jobs:
  print_payload_if_merged:
    runs-on: ubuntu-latest

    steps:
      - name: Print GitHub Event Payload
        env:
          GITHUB_EVENT_PAYLOAD: ${{ toJson(github.event) }}
        run: |
          echo "GitHub Event Payload:"
          echo "$GITHUB_EVENT_PAYLOAD"
